body{
	background-color: black;
	color: white;
	font-size: 20px;
}

.box{
	border-radius: 50px;
	background: linear-gradient(to left, red 30%, green 60%, blue 90%);
}

.box:hover{
	transition: background 1s ease;
}
/*

this is a comment

 */
img{
	filter: blur(20px);
}

.shadow{
	box-shadow: 10px 10px 20px red;
}